.App {
  background-color: #f3f6f4;
  min-height: 100vh;
}
h1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 1000;
  color:  #EDC915;
}
p{
  line-height: 35px;
  font-size: 20px;
  font-family: 'Roboto';
  color: grey;
}